$primary-text-color: #FFFFFF;
$secondary-text-color: #000000;


$primary-bg-color: #000000;
$secondary-bg-color: #FFFFFF;
$form-bg-color: #131318;

$section-border-color: #FFFFFF;

$main-button-color: #131318;

$main-font-family: 'Times New Roman', sans-serif;